/* Global styles */
body {
    font-family: Arial, sans-serif;
    background-color: #1a1a1a;
    color: #ffffff;
    margin: 0;
    padding: 0;
   position: relative;
   overflow: hidden;
   
  }
  
  /* Header styles */
  h1, h2, h3, h4, h5, h6 {
    color: #ffffff;
  }
   /* Canvas styles */
   .output_canvas {
    /* position: absolute; */
    margin:0;
    z-index: 1;
    pointer-events: none;
    display: flex;
    flex-direction: column; /* Arrange elements vertically */
    align-content: center; /* Align items to the left */
  }
  
   /* Video container styles */
#liveView {
 top:0;
  margin-top: 20px;
  text-align: center;
  position: relative;
  pointer-events: auto; /* Allow click events on the video container */
  display: flex;
  flex-direction: column; /* Arrange elements vertically */
  align-items: center; /* Align items to the left */
  justify-content: center;
}
  /* Button styles */
.mdc-button {
  position: relative;
  width: 150px;
  height: 50px;
  border-radius: 15px;
  border: 2px #60E294 solid;
  background-color: #1F1F1F;
  color: #60E294;
  font-size: 16px;
  font-family: Futura, sans-serif;
  /* font-weight: 500; */
  /* word-wrap: break-word; */
  /* text-align: center; */
  cursor: pointer;
    pointer-events: auto; /* Allow button click events */
    z-index:999;
    margin-bottom: 10px; /* Add bottom margin for space */
}

/* Hover effect */
.mdc-button:hover {
  color: #60E294; /*text color*/
  border: #fff;
  background-color: #fff;
}

  

  
  /* Video styles */
  #webcam {
    max-width: 100%;
    border: 2px solid #ffffff;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    transform: scaleX(-1);
  }
  
 
  /* Output text styles */
  .output {
    position: relative;
    color: #ffffff;
    margin-top: 10px;
    /* text-align: center; */
    font-size: 20px;
    font-family: Futura, sans-serif;
    font-weight: 500;
    word-wrap: break-word;
  }
  
  /* Transition screen styles */
  #transitionScreen {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1a1a1a;
    border: 2px solid #ffffff;
    padding: 20px;
    text-align: center;
  }
  
  #transitionScreen h2 {
    margin-bottom: 10px;
    color: #ffffff;
  }
  
  #transitionScreen p {
    color: #ffffff;
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  #transitionScreen button {
    background-color: #2980b9;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  #transitionScreen button:hover {
    background-color: #3498db;
  }
  .starttxt{
    /* text-align: center; */
    margin-top: 20px;
    color: #F5F5F5;
    font-size: 20px;
    font-family: Futura, sans-serif;
    font-weight: 500;
    word-wrap: break-word;
  }
 
/* Style for the letter images */
.letter-image {
  width: 150px; /* Adjust the width as needed */
  height: 150px; /* Adjust the height as needed */
  margin-right: 0; /* Adjust spacing between the image and video */
}